* {
	margin: 0;
	padding: 0;
}

BODY {
	margin: auto;
	background-color: red;
}

@media screen and (max-width:1023px) {
BODY {
	width: 600px;
	}
#contenidoweb {
	display: block;
	}
SECTION {
	margin: 0;
	}
ASIDE {
	margin: 0;
	}
}

@media screen and (min-width:1024px) {
BODY {
	width: 1024px;
	}
#contenidoweb {
	display: flex;
	flex-direction: row;
	}
SECTION {
	flex: 3;
	margin: 0 5px 0 0;
	}
ASIDE {
	flex: 1;
	margin: 0 0 0 5px;
	}
}

HEADER H1 {
	font-size: 4em;
	text-align: center;
}

HEADER IMG {
	width: 100%;
}

NAV UL {
	width: 100%;
	background-color: black;
	align-content: center;
	text-align: center;
}

NAV UL LI {
	width: 116px;
	list-style: none;
	display: inline-block;
	color: red;
	font-size: 16px;
	background-color: skyblue;
}

NAV UL LI:hover {
	cursor: pointer;
	background-color: dodgerblue;
}

#paginicio #toinicio, #pagcv #tocv, #pagcvext #tocvext, #pagdescargas #todescargas, #pagcontacto #tocontacto {
	background-color: whitesmoke;
}

#contenidoweb {
	padding: 15px 0 0 0;
	background-color: whitesmoke;
}

SECTION {
	padding: 15px 0;
	background-color: yellowgreen;
}

SECTION H2 {
	padding: 5px;
	margin-bottom: 5px;
	font-size: 3em;
	text-align: center;
	background-color: yellow;
}

SECTION H3 {
	padding: 8px;
	margin: 5px 0;
	text-align: right;
	color: orange;
	background-color: black;
}

ASIDE {
	padding: 10px;
	background-color: dimgray;
	align-content: center;
	align-items: center;
	text-align: center;
	vertical-align: middle;
}

ASIDE IMG {
	width: 100%;
}

FOOTER {
	margin-bottom: 25px;
	padding: 25px 15px;
	background-color: aqua;
}
