@font-face {
	font-family: "abagail";
	src: url("TTF/Abagail.ttf");
}
@font-face {
	font-family: "sports";
	src: url("TTF/SportsWorld.otf");
}
@font-face {
	font-family: "tusj";
	src: url("TTF/Tusj.ttf");
}

* {
	margin: 0;
	padding: 0;
	font-family: abagail, monospace, serif, sans-serif;
}

BODY {
	margin: auto;
	background-color: orangered;
}

@media screen and (max-width:1023px) {
BODY {
	width: 600px;
	}
#contenidoweb {
	display: block;
	}
SECTION {
	margin: 0;
	}
ASIDE {
	margin: 0;
	}
}

@media screen and (min-width:1024px) {
BODY {
	width: 1024px;
	}
#contenidoweb {
	display: flex;
	flex-direction: row;
	}
#anillas {
	flex: 1;
	}
SECTION {
	flex: 13;
	margin: 0 5px 0 0;
	}
ASIDE {
	flex: 4;
	margin: 0 0 0 5px;
	}
}

HEADER H1 {
	font-size: 4em;
	font-family: abagail,monospace, serif, sans-serif;
	text-align: center;
	text-shadow: 10px 10px 10px black;
	-moz-text-shadow: 10px 10px 10px black;
	-webkit-text-shadow: 10px 10px 10px black;
	-o-text-shadow: 10px 10px 10px black;
	-ms-text-shadow: 10px 10px 10px black;
}

HEADER IMG {
	width: 100%;
}

NAV UL {
	width: 100%;
	align-content: center;
	text-align: center;
}

NAV UL LI {
	width: 116px;
	height: 25px;
	padding: 7px 0 2px 0;
	list-style: none;
	display: inline-block;
	color: whitesmoke;
	font-size: 17px;
	font-family: sports,monospace, serif, sans-serif;
	align-content: center;
	align-items: center;
	vertical-align: middle;
	background-color: dodgerblue;
	border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-o-border-radius: 10px 10px 0 0;
	-ms-border-radius: 10px 10px 0 0;
	text-shadow: 4px 1px 3px black;
	-moz-text-shadow: 4px 1px 3px black;
	-webkit-text-shadow: 4px 1px 3px black;
	-o-text-shadow: 4px 1px 3px black;
	-ms-text-shadow: 4px 1px 3px black;
}

NAV UL LI:hover {
	cursor: pointer;
	color: black;
	background-color: skyblue;
}

#paginicio #toinicio, #pagcv #tocv, #pagcvext #tocvext, #pagdescargas #todescargas, #pagcontacto #tocontacto {
	color: black;
	background-color: skyblue;
}

#contenidoweb {
	margin: 0 0 10px 0;
	padding: 15px 0;
	background-color: skyblue;
}

#anillas {
	background-image: url("../images/anillas.png");
	background-repeat: repeat-y;
	background-size: contain;
}

SECTION {
	padding: 15px 0;
	background-color: whitesmoke;
	border-radius: 0 15px 15px 0;
	-moz-border-radius: 0 15px 15px 0;
	-webkit-border-radius: 0 15px 15px 0;
	-o-border-radius: 0 15px 15px 0;
	-ms-border-radius: 0 15px 15px 0;
}

SECTION H2 {
	padding: 5px;
	margin: 0 15px 5px 0;
	font-size: 3em;
	text-align: center;
	color: white;
	background-color: black;
	border: 2px solid green;
	border-radius: 0 15px 15px 0;
	-moz-border-radius: 0 15px 15px 0;
	-webkit-border-radius: 0 15px 15px 0;
	-o-border-radius: 0 15px 15px 0;
	-ms-border-radius: 0 15px 15px 0;
	box-shadow: 10px 5px 15px black;
}

SECTION H3 {
	padding: 8px;
	margin: 5px 0 3px 30px;
	text-align: right;
	color: skyblue;
	background-color: dodgerblue;
	border-radius: 15px 0 0 15px;
	border: 1px solid skyblue;
	box-shadow: -10px 5px 15px black;
	-webkit-box-shadow: -10px 5px 15px black;
	-moz-box-shadow: -10px 5px 15px black;
	-o-box-shadow: -10px 5px 15px black;
	-ms-box-shadow: -10px 5px 15px black;
}

SECTION P {
	margin: 15px;
	text-align: justify;
}

ASIDE {
	padding: 10px;
	background-color: dimgray;
	align-content: center;
	align-items: center;
	text-align: center;
	vertical-align: middle;
}

ASIDE IMG {
	width: 100%;
}

#mostrarwebs {
	border: 4px inset black;
	background-color: white;
}

#mostrarwebs IMG {
	border-bottom: 5px inset orange;
}

#mostrarwebs A {
	text-decoration: none;
}

#mostrarwebs P {
	color: orange;
	font-size: 0.8em;
	font-family: monospace, serif, sans-serif;
	text-align: justify;
}

#mostrarwebs H1 {
	background-color: black;
	font-size: 0.9em;
	font-family: monospace, serif, sans-serif;
	color: red;
}

#cajaredes {
	width: 100%;
}

#cajaredes DIV {
	width: 65px;
	height: 65px;
	margin: 20px 0;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
}

#googleplus {
	background-image: url("../images/googleplus.png");
}

#facebook {
	background-image: url("../images/facebook.png");
}

#twitter {
	background-image: url("../images/twitter.png");
}

FOOTER {
	width: 80%;
	margin: 25px auto;
	padding: 25px 15px;
	background-color: white;
	border-radius: 20px;
	border: 4px solid skyblue;
}

FOOTER ADDRESS {
	color: dimgray;
	font-size: 1.6em;
	font-family: tusj, monospace, serif, sans-serif;
	text-align: center;
}
